<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/client-server</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="javax.persistence.schema-generation.database.action">create</property>

        <mapping class="ukma.edu.ua.model.entity.Group"/>
        <mapping class="ukma.edu.ua.model.entity.Manufacturer"/>
        <mapping class="ukma.edu.ua.model.entity.Product"/>
    </session-factory>
</hibernate-configuration>